// Variables

$typeSans: "MuseoSans", Helvetica, Arial, sans-serif;
$typeCondensed: "MuseoSansCond", Helvetica, Arial, sans-serif;

$radius: 4px;

$color-white: #fff;
$color-black: #000;
$color-light: #f6f6f6;
$color-dark: $color-black;
$color-section-1: #0a84bb;
$color-section-2: #ea4f36;
$color-section-3: #82bf58;
$color-dark: #00090e;

$color-text: $color-light;